body {
    background-color: rgb(91, 194, 228);
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1, h2 {
    margin: 3%;

}
p{
    text-align: center;
    margin: auto;
}
img{
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}